{# /albums #}

{% extends "ExerciseBundle:Frontend:layout.twig" %}

{% block title %}Exercise Albums{% parent %}{% endblock %}

{% block page_id %}albums{% endblock %}

{% block page_class %}all{% endblock %}

{% block content %}

    {{ macro.page_title('Exercise Albums') }}
    {{ _view.crumb_menu|raw }}

    {% set currentUrl %}{% path 'album_index' %}{% endset %}
    {% set pagination = [
        'current': documents.pages.current,
        'total': documents.pages.last,
        'url': currentUrl,
        'sort':[
            'date':'Most Recent',
            'views':'Most Views',
            'comments':'Most Comments'
        ],
        'sorted':sortBy
    ] %}
    {{ macro.pagination(pagination) }}

    <div class="list albums medium">
        <ul>
            {% for album in documents %}
            <li{% if loop.first %} class="first"{% endif %}>
                <a class="thumbnail medium hover absolute" href="{% path 'album_view' with ['slug':album.slug] %}">{% image album "firstPhotoImage" "standard_thumbnail" %}</a>
                <a class="title" href="{% path 'album_view' with ['slug':album.slug] %}">{{ album.title }}</a>
                <div class="info clearfix">
                    <span class="user">{{ album.user.firstName }} {{ album.user.lastName }}</span>
                    <span class="views icon">{{ album.impressions|numberFormat }}</span>
                    <span class="comments icon">{{ album.commentCount|numberFormat }}</span>
                </div>
                <div class="summary">{{ album.summary }}</div>
            </li>
            {% endfor %}
        </ul>
    </div>

    {% set pagination = [
        'current': documents.pages.current,
        'total': documents.pages.last,
        'url': currentUrl,
        'backToTop':true
    ] %}
    {{ macro.pagination(pagination) }}

{% endblock %}
